{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-xl-10 col-lg-10">
        <div class="card shadow mb-4 mt-5 ml-5 p-4">
            <!-- Card Header  -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h2 class="m-0 font-weight-bold text-primary">CASE PAPER - INF ({{ patient.full_name }})</h2>
                <form action="{% url 'viewpatient' patient.id %}" method="GET">
                    <button class="btn btn-warning"><i class="fas fa-arrow-left pr-3"></i>BACK</button>
                </form>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div class="row justify-content-md-center">
                    <div class="alert alert-danger col-md-6" role="alert">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                <div class="row d-flex justify-content-center flex-row mt-3 mb-4">
                    <div class="btn-1 mr-4">
                        <form action="{% url 'infplanonefirstblock' patient.id %}" method="GET">
                            <button class="btn btn-lg btn-secondary">PLAN I</button>
                        </form>
                    </div>
                    <div class="btn-1">
                        <form action="{% url 'infplantwofirstblock' patient.id %}" method="GET">
                            <button class="btn btn-lg btn-primary">PLAN II</button>
                        </form>
                    </div>
                </div>

                <div class="navigation d-flex flex-row">
                    <div>
                        <form action="{% url 'infplantwofirstblock' patient_pk=patient.id %}" method="get">
                            <button class="btn btn-primary mr-2">
                                Visit 1 <br>
                                {% if ismainform %}
                                <small>{{ mainform.date_added.value }}</small>
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    <div class="d-flex flex-row">
                        {% for otherform in otherforms %}
                        <div>
                            <form
                                action="{% url 'infplantwootherblocks' patient_pk=patient.id visit_no=otherform.visit_no %}"
                                method="get">
                                <button class="btn btn-secondary mr-2">
                                    Visit {{ otherform.visit_no }} <br>
                                    <small>{{ otherform.date_added }}</small>
                                </button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>

                    {% if ismainform %}
                    <div>
                        <form action="{% url 'infplantwootherblocks' patient_pk=patient.id visit_no=newformnumber %}"
                            method="get">
                            <button class="btn btn-danger mr-2">
                                Add New <br>
                                +
                            </button>
                        </form>
                    </div>
                    {% endif %}

                </div>

                <div class="first-block mt-5">
                    <div class="d-flex justify-content-center">
                        <h4 class="text-primary">VISIT - 1</h4>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}

                        <div class="d-flex justify-content-center">
                            <div class="col-md-12 border border-success p-4 border-left-success">
                                <h6 class="text-success text-center">PLAN II</h6>
                                <h4 class="text-info text-center">Induction on Tablet + Injection</h4>
                                <hr>


                                <div class="first-col d-flex">
                                    <div class="flex-column mt-4 pr-4" style="border-right: 1px dashed #333;">
                                        <div class="d-flex flex-row">
                                            <div class="form-group mr-4">
                                                {{ mainform.date_added|as_crispy_field }}
                                            </div>
                                            <div class="form-group mr-4">
                                                {{ mainform.lmp|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ mainform.days|as_crispy_field }}
                                            </div>
                                        </div>


                                        <div class="d-flex flex-row">
                                            <div class="form-group flex-grow-1 mr-4">
                                                {{ mainform.tablet_name|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ mainform.tablet_qty|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row">
                                            <div class="form-group mr-4">
                                                {{ mainform.tab_morning_qty|as_crispy_field }}
                                            </div>
                                            <div class="form-group mr-4">
                                                {{ mainform.tab_afternoon_qty|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ mainform.tab_evening_qty|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="vertical-line flex-column mr-3 ml-3"></div>

                                    <div class="flex-column mt-4">
                                        <div class="d-flex flex-row">
                                            <div class="form-group mr-4">
                                                {{ mainform.injection_name|as_crispy_field }}
                                            </div>
                                            <div class="form-group mr-4">
                                                {{ mainform.injection_qty|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row">
                                            <div class="form-group mr-4">
                                                {{ mainform.day1|as_crispy_field }}
                                            </div>
                                            <div class="form-group mr-4">
                                                {{ mainform.day2|as_crispy_field }}
                                            </div>
                                            <div class="form-group mr-4">
                                                {{ mainform.day3|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row">
                                            <div class="form-group mr-4">
                                                {{ mainform.date1|as_crispy_field }}
                                            </div>
                                            <div class="form-group mr-4">
                                                {{ mainform.date2|as_crispy_field }}
                                            </div>
                                            <div class="form-group mr-4">
                                                {{ mainform.date3|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row">
                                            <div class="form-group col-md-4">
                                                {{ mainform.visit_no|as_crispy_field }}
                                            </div>
                                            <div class="form-group col-md-4">
                                                {{ mainform.flu_date|as_crispy_field }}
                                            </div>
                                        </div>

                                    </div>
                                </div>



                                {% if ismainform %}
                                <div class="row justify-content-center">
                                    <div>
                                        <button type="submit" name='mainblockupdate'
                                            class="btn btn-danger mt-3">UPDATE</button>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row justify-content-center">
                                    <div>
                                        <button type="submit" name='mainblocksave'
                                            class="btn btn-primary mt-3 justify-content-center">SAVE</button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block jquery %}
<script>
    $(document).ready(function () {
        $('input[name="visit_no"]').attr('readonly', true);

        //  change date format for lmp
        $("#id_lmp").datepicker({
            format: 'dd-mm-yyyy',
        });
        $("#id_date_added").datepicker({
            format: 'dd-mm-yyyy',
        });


        $("#id_flu_date").datepicker({
            format: 'dd-mm-yyyy',
        });

        $("#id_date1").datepicker({
            format: 'dd-mm-yyyy',
        });
        $("#id_date2").datepicker({
            format: 'dd-mm-yyyy',
        });
        $("#id_date3").datepicker({
            format: 'dd-mm-yyyy',
        });


        //  set today's date for Anc first block
        ismainform = '{{ismainform}}'
        if (ismainform != 'True') {
            var today = new Date();
            var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();
            $('#id_date_added').val(date);

            //  set visit no for first block.
            $('#id_visit_no').val('1');
        }



    });
</script>
{% endblock %}